.carousel-inner img{
    width: 70%;
    height: auto;
	margin-left: 15%;
	margin-right: 15%;
 }
 
 
 .titleimg{
	width: 100%;
	height: auto;
	padding-left:0px;
	padding-right:0px;
	padding-top: 25px;
	padding-bottom: 50px;
	opacity: 0.75;
 }
 

 
 .titletext{
	color: white;
	font-size: 8vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }
 
 
 .container{
	position: relative;
	text-align: center;
 }
	
#background-img
{
	background: #EBEFF7;
}
	
p{
	text-align: center;
	padding:20px;
}
 
 h2{
	text-align:center;
	padding-top: 20px;
 }
 
 h1{
	 text-align:center;
	 font-size:110px;
 }
 
 hr{
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 35%;
	margin-right: 35%;
	border: 0px;
	border-top: 2px solid rgb(92,184,92);
	
 }
 
 #textcolor
 {
	 text-align:center;
	 color:white;
 }
 
 #CSAPage
 {	 
	display: block;
	margin: auto;
	 background: #5cb85c;
 }